{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">Page pour écrire de l'article</h1>

        <div class="card p-4 mb-4">
            <h5 class="card-title">Créer un nouvel article</h5>
            {{ include('article/_form.html.twig') }}

            
        </div>

        <div class="text-muted mb-3">
           <strong> Votre catégorie n'est pas là? Cliquez ci-dessous pour en ajouter une nouvelle.</strong>
        </div>
        <a href="{{ path('app_category_new') }}" class="btn btn-primary me-2">Nouvelles Catégories</a>
        <a href="{{ path('app_article_index') }}" class="btn btn-secondary">Voir la liste des articles</a>
    </div>
{% endblock %}